.word-card-container {
    perspective: 1000px;
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
  }
  
  .word-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .word-card-container.flipped .word-card {
    transform: rotateY(180deg);
  }
  
  .word-card-front,
  .word-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .word-card-front {
    background-color: #ffffff; /* Front face background color */
  }
  
  .word-card-back {
    background-color: #ffffff; /* Back face background color */
    transform: rotateY(180deg);
  }
  